
.App {
  text-align: center;
}

.add-margin {
  margin: 10px;
}

.title {
  color: white;
  padding: 5px;
  font-size: 25px;
  font-weight: 600;
}

.nav-text-color {
  color: white;
}
.nav-text-color:hover{
  color: gray;
}

.podcast-list-wrapper {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.podcast-wrapper {
  width: 225px;
}

.podcast-info-wrapper {
  padding: 10px;
}

.podcast-name {
  color: black;
 font-size: 30px;
 font-weight: 300;
 display: flex;
 justify-content: flex-start;
 align-items: flex-start;
 text-decoration: none;
}

.podcast-name:hover {
  text-decoration: underline;
  color: black;
}

.podcast-creator {
  color: black;
  font-size: 22px;
  font-weight: 200;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  text-decoration: none;
}

.podcast-creator:hover {
  text-decoration: underline;
  color: black;
}

.single-podcast-wrapper {
  margin-left: 250px;
  margin-right: 250px;
} 

.image-name-creator-wrapper {
  display: flex;
  justify-content: flex-start;
}

.single-image {
  padding: 0 25px 25px 25px;
}

.podcast-name-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: center;
}

.single-name {
  font-size: 50px;
  font-weight: 500;
}

.single-creator {
  font-size: 20px;
  font-weight: 300;
  text-decoration: none;
  color: black;
}

.single-creator:hover {
  text-decoration: underline;
}

.single-podcast-info-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0 25px 25px 25px;
}

.about {
  font-size: 18px;
  font-weight: 200;
  letter-spacing: 1px;
}

.single-episode {
  margin: 100px 200px 300px 200px;
}

.podcast-info {
  font-size: 16px;
  font-weight: 200;
  display: block;
  text-align: left;
}

.episode-name {
  font-size: 20px;
  font-weight: 300;
  float: left;
  text-decoration: none;
  color: black;
  padding: 10px;
}

.episode-info {
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.episode-name:hover {
  text-decoration: underline ;
  color: black;
}

@media (max-width: 1000px) {
  .form-wrapper {
    margin: 50px 50px 500px 50px;
    text-align: left;
  }
}

@media (min-width: 1001px) {
  .form-wrapper {
    margin: 50px 300px 500px 300px;
    text-align: left;
  }

}

.upload-form-wrapper {
  text-align: left;
  margin: 0 150px;
}

.add-top-margin-btn {
  margin-top: 10px;
}

.creator-list {
  margin: 20px 400px 200px 400px;
  font-size: 20px;
}